* {
    padding: 0;
    margin: 0;
}

body {
    background: #10161E;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1284px;
    margin: 0 auto;
    padding: 0 10px;
    height: 10vh;
}

nav a {
    font-size: 1.2rem;
    text-transform: uppercase;
}



main {

    box-sizing: border-box;
    width: 100%;
    max-width: 1140px;
    padding: 20px;
    margin: 0 auto;
}

.profile {
    border: 1px solid rgba(183, 179, 179, 0.43);
    width: 100%;
    max-width: 1140px;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.image {
    width: 300px;
    margin-top: 20px;
}

.description {
    margin-top:
}

.description h3 {
    font-weight: 500;
    font-size: 0.89rem;
    margin-top: 10px;
    opacity: 0.5;
}

.description h1 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 54px;
}

.description p {
    font-size: 0.86rem;
    line-height: 20px;
    letter-spacing: 0.03em;
    width: 300px;
}

.description h4 {
    font-size: 0.86rem;
    line-height: 29px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 2rem;

}

.footer {
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    margin-top: 15px;
    height: 10vh;

    font-weight: 300;
    font-size: 0.83rem;
    line-height: 10vh;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

.footer h4 {
    font-weight: 300;
}

/*
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
} */